footer
    position relative
    bottom 0 
    width 100%
    height 35px
    background $img('bg-textura.png')
    border-top 1px #656557 solid
    z-index 2
    .footer 
        width 1300px
        height 35px
        margin 0 auto
        display flex
        flex-direction row
        align-items center
        justify-content space-between
        padding 0
        .direitos
            font-family "Verdana"
            font-size 9px
            color #FFF
            margin 0
        .trupe
            display flex
            align-items center
            .link
                font-family "Verdana"
                font-size 9px
                color #FFF
                margin 0
                &:hover
                &.active
                &.focus
                    border-bottom 1px #fff dotted
            img 
                padding-left 10px
    +below($tablet)
        width 100%
        .footer
            width 90%
            margin 0 auto
    +mobile()
        width 100%
        height 50px
        .footer
            width 90%
            margin 5px auto
            height 40px
            display flex
            flex-direction column
            align-items center            
  
