header
    width 100%
    height 122px
    background-color #414131
    border-bottom 1px #656557 solid
    z-index 999
    .center
        display flex
        flex-direction row
        align-items center
        width 1300px !important
        height 122px
        margin 0 auto
        position relative
        .logo
            width 30%
            height 100%
            margin 0
            background $img('marca-erea.png') no-repeat left center
            text-indent -9999px
        nav
            padding 0
            width 70%
            height 100%
            margin 0
            div.itens-menu
                height 100%
                display flex
                align-items center
                justify-content flex-start
                a
                    height 100%
                    padding 6.5% 30px
                    margin 0
                    oswald(20, light) 
                    color #8C8C7C
                    text-transform lowercase
                    background-image $img('marcador-menu.png'), $img('seta-abaixo.png')
                    background-position center -37px, center 160px
                    background-repeat no-repeat, no-repeat
                    transition all .3s ease-in
                    &:hover
                    &.active
                    &.focus 
                        color #fff
                        background-image $img('marcador-menu.png'), $img('seta-abaixo.png')
                        background-position center 37px, center 97px
                        background-repeat no-repeat, no-repeat
                .social
                    height 100%
                    width 80px
                    display flex
                    align-items center
                    justify-content space-between
                    margin 0 20px
                    padding 2.5% 0 0 0
                    a
                        display block
                        width 16px
                        height 16px
                        padding 0
                        position relative
                        &:after
                            content ""
                            display block
                            width 16px
                            height 16px
                            top 0
                            left 0
                            position absolute
                            opacity 0
                            transition opacity .1s ease-in
                        &.instagram
                            background $img('erea-ico-insta.png') center 0px no-repeat
                            &:hover
                            &.active
                            &.focus
                                background $img('erea-ico-insta.png') center -16px no-repeat
                        &.facebook
                            background $img('erea-ico-fb.png') center 0px no-repeat
                            &:hover
                            &.active
                            &.focus
                                background $img('erea-ico-fb.png') center -16px no-repeat
                        &.pinterest
                            background $img('erea-ico-pint.png') center 0px no-repeat
                            &:hover
                            &.active
                            &.focus
                                background $img('erea-ico-pint.png') center -16px no-repeat
                .submenu-categorias
                    position absolute
                    width auto
                    height auto
                    margin 0
                    padding 20px 30px
                    top 122px
                    left 42%
                    flex-direction column
                    align-items flex-start
                    list-style none
                    background-color #414131
                    border-bottom 2px solid #1D003F
                    z-index 1
                    li
                        padding 2px
                        .categoria
                            oswald(20, light) 
                            color #8C8C7C
                            text-transform lowercase
                            padding 0
                            background-image none
                            background-position none
                            background-repeat none
                            &:hover
                            &.active
                            &.focus
                                color #fff
                                background-image none
                                background-position none
                                background-repeat none
                .submenu-colecoes
                    position absolute
                    width auto
                    height auto
                    margin 0
                    padding 20px
                    top 122px
                    left 51%
                    flex-direction column
                    align-items flex-start
                    list-style none
                    background-color #414131
                    border-bottom 2px solid #1D003F
                    z-index 1
                    li
                        padding 5px
                        .colecao
                            oswald(20, light) 
                            color #8C8C7C
                            text-transform lowercase
                            background-image none
                            background-position none
                            background-repeat none
                            &:hover
                            &.active
                            &.focus
                                color #fff
                                background-image none
                                background-position none
                                background-repeat none

    +below($tablet)
        width 100%
        .center
            width 100% !important
            margin 0 auto
            padding 0 5%
            height 122px
            .logo
                width 65%
                height 100%
            nav
                position absolute
                display none
                width 100%
                height auto
                left 0
                top 122px
                margin 0
                padding-right 0
                float right 
                z-index 9999
                div.itens-menu
                    display flex
                    flex-direction column
                    align-items flex-end
                    background-color #414131
                    width 100%
                    padding 15px 3%
                    margin 0
                    height auto
                    a
                        width 100%
                        height 40px
                        text-align end
                        padding 0 5%
                        +mobile()
                            width 50%
                            padding 0 10%
                        &:hover
                        &.active
                        &.focus 
                            color #fff
                            background-image $img('marcador-menu.png'), $img('seta-abaixo.png')
                            background-position 77% 35%, 100% 35%
                            background-repeat no-repeat, no-repeat
                    .social
                        height 100%
                        width 150px
                        padding 0 30px 0 60px
                    .submenu-categorias
                        top 0
                        left 53%
                        padding 10px 30px
                        +mobile()
                            display none !important
                        li
                            padding 1px
                            .categoria
                                oswald(16, light) 
                    .submenu-colecoes
                        padding 10px 30px
                        top 110px
                        left 58%
                        white-space nowrap
                        +mobile()
                            display none !important
                        li
                            padding 1px
                            .colecao
                                oswald(16, light) 
#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 100%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin 0 0 0 39%
    +mobile()
        margin 0 0 0 auto
    .lines
        display block
        width 100%
        height 4px
        background-color #808080
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background-color #808080
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            display block
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
        .lines-home
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

.aviso-cookies
    display flex
    width 100%
    margin 0
    flex-direction row
    align-items flex-start
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 9
    padding 25px 7%
    .frase-cookies
        width 80%
        font-family "Verdana"
        font-size 14px
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
    .aceitar-cookies
        width 20%
        font-family "Verdana"
        font-size 14px
        color #FFF
        background-color #01669C 
        border none
        border-radius 5px
        height 40px
        margin-left 20px
        font-weight 600
        cursor pointer
        outline none
        &:hover
        &:focus
            background-color #003d5d
    +below($tablet)
        +mobile()
            flex-direction column
            align-items center
            padding 20px 
        .frase-cookies
            font-size 13px
            +mobile()
                font-size 11px
                width 100%
                text-align center
        .aceitar-cookies
            font-size 13px
            +mobile()
                font-size 12px
                width 100%
                text-align center
                margin-left 0
                margin-top 10px