.clippings
    width 100%
    height auto
    .center
        width 1300px !important
        margin 50px auto 120px auto
        display flex
        flex-wrap wrap
        height 100%
        .clipping
            width 18.5%
            margin 0 15px 35px 0
            transition all 0.3s ease-in
            img 
                position relative
                width 100%
                height 320px
                top 0
                left 0
                border 1px #000 solid
            p.titulo
                position relative
                width 100%
                oswald(16)
                color #000
                text-align start
                margin 0
            &:hover
            &:focus
            &:active
                opacity 0.7
                img 
                    border 1px #8C8C7C solid
                p.titulo
                    color #8C8C7C
    .btn-clipping
        position absolute
        bottom 0
        right calc('50% - 180px/2')
        margin 20px 0
        width 180px
        height 45px
        oswald(20)
        color #000
        border 1px solid #000
        border-radius 0
        background transparent
        outline none
        &:hover
            color #8C8C8C
            border 1px solid #8C8C8C
        +mobile()
            width 200px
            right 0
            left 0
            margin 20px auto
    +below($tablet)
        width 100%
        .center
            width 90% !important
            margin 30px auto 50px auto
            .clipping
                width 31%
                img
                    height 350px
    +mobile()
        width 100%
        .center
            width 90% !important
            margin 30px auto 50px auto
            display flex
            flex-direction column
            align-items center
            .clipping
                width 75%
                margin 0 auto 35px auto
                margin-left 12%
                p.titulo
                    oswald(18)

.clipping-imagens            
    width 100%
    height auto
    .btn-voltar
        width 1300px
        margin 15px auto
        display flex
        justify-content flex-end
        a.btn-voltar
            margin 0 
            oswald(18)
            font-weight 300
            color #FFF
            transition all 0.3s ease-in
            &:hover
            &:focus
            &:active
                color #1D003F
    .center
        width 1300px !important
        margin 0 auto 30px auto
        display flex
        flex-wrap wrap
        .clipping-img
            width 50%
            margin 0
            border 1px #000 solid
    +below($tablet)
        width 100%
        .btn-voltar
            width 90%
            margin 15px auto
        .center
            width 90% !important
            margin 30px auto
    +mobile()
        width 100%
        .center
            width 90% !important
            margin 30px auto
            display flex
            flex-direction column
            align-items center
            .clipping-img
                width 75%
                margin 0