.colecoes
    width 100%
    height auto
    .center
        position relative
        width 1300px !important
        display flex
        flex-direction column
        align-items center
        margin 50px auto
        .colecao
            oswald(20)
            color #8C8C7C
            font-weight 300
            text-align center
            text-transform uppercase
            transition all 0.3s ease-in
            padding 10px 0
            &:hover
            &:focus
            &:active
                color #FFF
    +below($tablet)
        width 100%
        .center
            width 90% !important
            margin 30px auto

.colecoes-produtos
    width 100%
    height auto
    .caminho
        position relative
        width 1300px !important
        display flex
        flex-direction row
        align-items center
        margin 0 auto
        border-bottom 2px #656557 solid
        p.pt-prod
            oswald(18)
            font-weight 300
            color #8C8C7C
            margin 10px 2px 10px 0
        p.pt-colecao
            oswald(18)
            font-weight 300
            color #1D003F
            text-transform uppercase
            margin 10px 0 10px 2px
        .loading
            background $img("ajax-loader.gif")
            width 16px
            height 16px
    .produtos
        width 100%
        display flex
        flex-wrap wrap
        margin 40px 0
        .produto
            width 33.33%
            height 250px
            margin 0
            text-align center
            transition all 0.1s ease-in
            img 
                max-height 210px
                margin 20px auto
            &:hover
            &:focus
            &:active
                border-top 2px #1D003F solid
                background $img('bg-textura.png') 0 0 repeat
    +below($tablet)
        width 100%
        .caminho
            width 90% !important
            margin 0 auto
        .produtos
            width 100%
            .produto
                width 50%
                height 250px
    +mobile()
        width 100%
        overflow hidden
        .produtos
            width 100%
            display flex
            flex-direction column
            margin 20px 0
            .produto
                width 100%
                height 250px
                img 
                    max-width 90%