.contato
    width 100%
    height auto
    display flex
    flex-direction row
    margin 50px 0
    .contato-mapa
        width 50%
        iframe 
            width 90%
    .contato-form
        width 50%
        .telefone
            margin 0
            oswald(22)
            color #8C8C7C
            font-weight 300
        .end-completo
            margin 20px 0
            p
                margin 0
                oswald(18)
                color #8C8C7C
                font-weight 300
        .fale-conosco
            margin 50px 0 10px 0
            oswald(16)
            color #8C8C7C
            font-weight 300
            text-transform uppercase
        form
            width 70%
            display flex
            flex-direction column
            input[type=text]
            input[type=email] 
                margin 0 0 2px 0
                border none
                height 30px
                padding 0 10px
                outline none
                font-family "Verdana"
                font-size 12px
                font-weight 300
                color #8C8C7C
                background-color #414131
                +placeholder()
                    color #8C8C7C
                    background-color #414131
                &:hover
                &:focus
                    font-weight 700
            textarea
                margin 0 0 2px 0
                border none
                height 120px
                padding 10px 10px
                outline none
                font-family "Verdana"
                font-size 12px
                font-weight 300
                color #8C8C7C
                background-color #414131
                +placeholder()
                    color #8C8C7C
                    background-color #414131
                &:hover
                &:focus
                    font-weight 700
            .btn-contato
                margin 15px 0
                border none
                border-radius 0
                text-align right 
                oswald(22)
                background-color transparent
                color #8C8C7C
                font-weight 300
                text-transform uppercase
                outline none
                transition all 0.3s ease-in
                &:hover
                &:focus
                &:active
                    color #1D003F
            clearfix()
            .flash
                display flex
                flex-direction column
                align-items center
                justify-content space-around
                margin 0
                width 100%
                height 60px
                oswald(14)
                font-weight 300
                padding 10px
                border-radius 0
                > p
                    margin 0
                &.flash-erro
                    border 2px solid $vermelho
                    background $vermelho
                    color #fff
                &.flash-sucesso
                    border 2px solid $verde
                    background $verde
                    color #fff
    +below($tablet)
        width 100%
        margin 30px 0
        .contato-form
            form
                width 90%
    +mobile()
        flex-direction column
        .contato-mapa
            width 90%
            margin 0 auto
            iframe 
                width 100%
        .contato-form
            width 90%
            margin 20px auto
            form
                width 100%