.banners
    position absolute
    width 100%
    height calc('100% - 122px')
    z-index -1
    background-color #4D4D3D
    overflow-y hidden
    .banner
        position absolute
        width 100%
        height 100%
        margin 0 auto
        top 0
        left 0
        background-size 100% auto
        background-position center center
        background-repeat no-repeat
        +mobile()
            background-size cover
            background-position center 100%
