.perfil
    position relative
    width 1300px !important
    display flex
    align-items start
    justify-content center
    margin 50px auto
    img
        position relative
        width 40%
        height auto
        padding 0
        margin 0
    .perfil-texto
        position relative
        background-color transparent
        width 60%
        height auto
        padding 0 30px 0 50px
        p
            margin 0 0 20px 0
            font-family "Verdana"
            font-size 14px
            font-weight 300
            color #FFF
            text-align left
            line-height 2.1
    +below($tablet)
        width 100% !important
        margin 30px auto
        img
            width 40%
            margin-left 5%
        .perfil-texto
            max-width 60%
            padding 0 20px 0 30px
            margin-right 5%
            p
                font-size 11px
    +mobile()
        flex-direction column
        img
            width 100%
            margin 0
        .perfil-texto
            min-width 90%
            margin 0 auto
            padding 20px 0 0 0
            p
                font-size 14px
