.politica-de-privacidade
    position relative
    width 1300px !important
    margin 50px auto
    .titulo
        font-family "Verdana"
        font-size 18px
        font-weight 600
        color #FFF
        margin-bottom 30px
    .texto
        position relative
        background-color transparent
        width 100%
        height auto
        padding 0
        font-family "Verdana"
        font-size 14px
        font-weight 300
        color #FFF
        p
            margin 0 0 20px 0
            text-align left
            line-height 2.1
    +below($tablet)
        width 90% !important
        .titulo
            font-size 16px
        .texto
            font-size 12px
