.produtos
    width 100%
    height auto
    .center
        position relative
        width 1300px !important
        display flex
        flex-direction column
        align-items center
        margin 50px auto
        .categoria
            oswald(20)
            color #8C8C7C
            font-weight 300
            text-align center
            text-transform uppercase
            transition all 0.3s ease-in
            padding 10px 0
            &:hover
            &:focus
            &:active
                color #FFF
    +below($tablet)
        width 100%
        .center
            width 90% !important
            margin 30px auto

.produtos-categoria
    width 100%
    height auto
    .caminho
        position relative
        width 1300px !important
        display flex
        flex-direction row
        align-items center
        margin 0 auto
        border-bottom 2px #656557 solid
        p.pt-prod
            oswald(18)
            font-weight 300
            color #8C8C7C
            margin 10px 2px 10px 0
        p.pt-categ
            oswald(18)
            font-weight 300
            color #1D003F
            text-transform uppercase
            margin 10px 0 10px 2px
        .loading
            background $img("ajax-loader.gif")
            width 16px
            height 16px
    .produtos
        width 100%
        display flex
        flex-wrap wrap
        margin 40px 0
        .produto
            width 33.33%
            height 250px
            margin 0
            text-align center
            transition all 0.1s ease-in
            img 
                max-height 210px
                margin 20px auto
            &:hover
            &:focus
            &:active
                border-top 2px #1D003F solid
                background $img('bg-textura.png') 0 0 repeat
    +below($tablet)
        width 100%
        .caminho
            width 90% !important
            margin 0 auto
        .produtos
            width 100%
            .produto
                width 50%
                height 250px
    +mobile()
        width 100%
        overflow hidden
        .produtos
            width 100%
            display flex
            flex-direction column
            margin 20px 0
            .produto
                width 100%
                height 250px
                img 
                    max-width 90%

.produtos-detalhes
    height auto
    width 1300px !important
    margin 0 auto
    .nav-produtos
        border-bottom 2px #656557 solid
        display flex
        flex-direction row
        align-items center
        justify-content space-between
        .caminho
            display flex
            flex-direction row
            p.pt-prod
                oswald(18)
                font-weight 300
                color #8C8C7C
                margin 10px 2px 10px 0
            p.pt-categ
                oswald(18)
                font-weight 300
                color #1D003F
                text-transform uppercase
                margin 10px 0 10px 2px
        .btn-voltar
            oswald(18)
            font-weight 300
            color #FFF
            transition all 0.3s ease-in
            &:hover
            &:focus
            &:active
                color #1D003F
    .detalhes
        width 100%
        display flex
        flex-direction row
        align-items flex-start
        margin 30px auto
        .detalhes-img
            width 55%
            display flex
            justify-content center
            img 
                max-width 470px
                max-height 470px
        .detalhes-variacoes
            width 45%
            display flex
            flex-direction row
            align-items flex-start
            .variacoes
                width 26%
                margin 0
                display flex
                flex-direction column
                align-items center
                .nav
                    height 10px
                    display block
                    width 150px
                    transition all 0.3s ease-in
                    &.nav-up
                        background $img('seta-acima.png') #414131 center center no-repeat
                        margin-bottom 2px 
                        &:hover
                            background $img('seta-acima.png') #1D003F center center no-repeat
                    &.nav-down
                        background $img('seta-abaixo.png') #414131 center center no-repeat
                        &:hover
                            background $img('seta-abaixo.png') #1D003F center center no-repeat
                .itens-variacoes
                    display contents
                    height 450px
                    position relative
                    .variacao
                        display block
                        width 150px
                        height 150px
                        background $img('bg-textura.png')
                        margin-bottom 2px
                        border-right 2px #414131 solid
                        border-left 2px #414131 solid
                        transition all 0.3s ease-in
                        img 
                            display block
                            max-width 120px
                            max-height 120px
                            margin 15px auto
                            
                        &:hover
                        &:focus
                        &:active
                        &.variacao-ativo
                            border-right 2px #1d003f solid
                            border-left 2px #1d003f solid
            .detalhes-dados
                width 74%
                padding 20px 0 50px 50px
                .titulo
                    oswald(18)
                    font-weight 400
                    color #FFF
                    text-transform capitalize
                .texto
                    oswald(15)
                    font-weight 300
                    color #272719
                    padding-top 20px
    +below($tablet)
        width 90% !important
        .detalhes
            flex-direction column
            .detalhes-img
                width 100%
                img 
                    width 100%
            .detalhes-variacoes
                width 100%
                padding 20px 0
                .variacoes
                    width 25%
                    +mobile()
                        width 40% !important
                .detalhes-dados
                    width 75%
                    padding 0 0 50px 50px
                    +mobile()
                        width 60% !important
                        padding 0 0 0 20px !important